.filterButtons {
	display: flex;
	align-items: center;

	&Group {
		display: flex;
		align-items: center;

		& + & {
			margin-left: 80px;
		}

		.filterButton {
			font-family: 'Gilroy-Bold', sans-serif;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.04em;
			background: transparent;
			padding: 0;
			border: none;
			cursor: pointer;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				width: 100%;
				border-bottom: 3px solid transparent;
				border-radius: 5px;
				left: 0;
				bottom: -10px;
				transition: ease 0.3s;
			}

			&Active {
				&::after {
					border-bottom: 3px solid #f8a303;
				}
			}
		}

		.filterButton:hover::after {
			border-bottom: 3px solid #f8a303;
		}

		.filterButton + .filterButton {
			margin-left: 24px;
		}
	}
}
