@font-face {
	font-family: 'Gilroy-Bold';
	src: url('./fonts/Gilroy/Gilroy-Bold.eot');
	src: url('./fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Gilroy/Gilroy-Bold.woff') format('woff'), url('./fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('./fonts/Gilroy/Gilroy-Regular.eot');
	src: url('./fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
		url('./fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

*,
::before,
::after {
	box-sizing: border-box;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: 'Gilroy-Bold', sans-serif;
	color: #3e445b;
}
.textGray {
	opacity: 0.6;
}
